XTerm*faceName: Mono
XTerm*faceSize: 10
XTerm*antialias: true
XTerm*locale: true
XTerm*utf8Title: true
XTerm*utf8: 1
xft.dpi: 100
xft.rgba: rgb
xft.hinting: true
xft.hintstyle: hintslight
XTerm*cursorColor: #ffa530

XTerm*selectToClipboard: true

*VT100*translations: #override \n\
Ctrl <Key> g: larger-vt-font() \n\
Ctrl <Key> h: smaller-vt-font()

XTerm*renderFont: true
XTerm*cjk_width: true
XTerm*dynamicColors: true
XTerm*eightBitInput: true
XTerm*ScrollBar: false
XTerm*toolBar: false
XTerm*rightScrollBar: false
XTerm*jumpScroll: true
XTerm*multiScroll: true
XTerm*charClass: 45-47:48,58:48,126:48,168-176:48,181:48
XTerm*allowBoldFonts: true
XTerm*boldMode: true
XTerm*loginShell: false
XTerm*saveLines: 2000
! XTerm*colorBDMode: true
! XTerm*colorBD: #FF69B4

XTerm*background: #1a1a1a
XTerm*foreground: #d3d3d3
! 0,bg 1,rws 2,ver 3,compressed-exec 4,d777
! 9,error-msg 10,prompt
! 11,$ 12,d-x 13,.png .xpm .svg 14,l
! 15,bottom 1-6,9-14:color 0,7,8,15:
XTerm*color0: #000000
XTerm*color1: #6A5ACD
XTerm*color2: #f3f3c3
XTerm*color15: #bb1f8a
XTerm*color3: #a85400
XTerm*color4: #1E90FF
XTerm*color5: #a800a8
XTerm*color6: #00a8a8
XTerm*color7: #ffeeaa
XTerm*color8: #4682b4
XTerm*color9: #fc5454
XTerm*color10: #54fc54
XTerm*color11: #fcfc54
XTerm*color12: #32cd32
XTerm*color13: #fc54fc
XTerm*color14: #54fcfc

UXTerm*faceName: xft:Mono
UXTerm*faceSize: 10
UXTerm*faceNameDoublesize: 10
UXTerm*cursorColor: #ffa530
UXTerm*showRoot: true

UXTerm*selectToClipboard: true

UXTerm*renderFont: true
UXTerm*cjk_width: true
UXTerm*dynamicColors: true
UXTerm*eightBitInput: true
UXTerm*ScrollBar: false
UXTerm*toolBar: false
UXTerm*rightScrollBar: false
UXTerm*jumpScroll: true
UXTerm*multiScroll: true
UXTerm*allowBoldFonts: true
UXTerm*boldMode: true
UXTerm*loginShell: false
UXTerm*saveLines: 2000
UXTerm*charClass: 45-47:48,58:48,126:48,168-176:48,181:48
UXTerm*background: #1a1a1a
UXTerm*foreground: #D3D3D3
UXTerm*color1: #7D3D3D
UXTerm*color2: #f3f3c3
UXTerm*color15: #bb1f8a
UXTerm*color3: #69944E
UXTerm*color4: #68C391
UXTerm*color5: #626FB5
UXTerm*color6: #925AA2
UXTerm*color7: #ffffff

UXTerm*color8: #4682b4
UXTerm*color9: #E67474
UXTerm*color10: #F1D08E
UXTerm*color11: #9FE276
UXTerm*color12: #8CEEBA
UXTerm*color13: #93A0E6
UXTerm*color14: #D7A2E6
